.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### Environment ###
.env
.env.local
.env.*.local

### OS ###
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/out/
/target/
/docs/